<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    
    <title>Category Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/firstcategory.css') }}" media="screen">
<link rel="stylesheet" href="{{ url_for('static',filename='css/Category-Page.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static',filename='js/jquerycategory.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static',filename='js/firstcategory.js') }}" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Category Page"
}</script>
    
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-palette-2-base u-header" id="sec-2053"><div class="u-clearfix u-sheet u-sheet-1">
  <script>
  window.watsonAssistantChatOptions = {
    integrationID: "03613269-cebb-415d-9c93-124741457ce1", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "43cde6bc-c030-427e-b5d7-f895b40d1c8c", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
        <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Category-Page.html" style="padding: 10px 20px;">Category Page</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">Contact</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Category-Page.html">Category Page</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-palette-1-dark-2 u-section-1" id="carousel_5cc0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-text u-text-palette-2-light-1 u-text-1">CHOOSE CATEGORY</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-href="{{ url_for('men') }}" title="Men">
              <div class="u-back-slide" data-image-width="610" data-image-height="763">
                <img class="u-back-image u-expanded" src="{{ url_for('static',filename='images/blackman31.png') }}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-href="{{ url_for('women') }}" title="Women">
              <div class="u-back-slide" data-image-width="864" data-image-height="1080">
                <img class="u-back-image u-expanded" src="{{ url_for('static',filename='images/latinawoman1.jpg') }}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <h5 class="u-align-center u-text u-text-palette-1-base u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="{{ url_for('men') }}">MEN<br>
          </a>
        </h5>
        <h5 class="u-align-center u-text u-text-palette-1-base u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" href="{{ url_for('women') }}">WOMEN<br>
          </a>
        </h5>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-7ac3">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-5bb5"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"></p>
      </div></footer>
    
  
</body></html>